<div class= "container-fluid full-width" >
  <div class="row row-no-gutter">
    <app-menu></app-menu>

    <div appScrollAnimate [callback] = "scrollHandler" class = "col-sm-5 container" >
      <div class="reader-text" *ngFor="let vignette of vignettes">
        <div class="">
          {{vignette.name}}
        </div>
        <div class="">
          {{vignette.text}}
        </div>
        <div class="">
          {{vignette.location}}
        </div>
      </div>

    </div>

    <div class="" >
      <app-map [scrollTop]="scrollTop" id = "mapid"></app-map>
    </div>


  </div>
</div>
