<div class= "container-fluid full-width">
  <div class="row row-no-gutter">



    <app-menu>  </app-menu>
    <div class = "row col-sm-5">
      <label for="insertvignette">New Vignette:</label>
      <input class="form-control" type="text" placeholder="Name" [(ngModel)]="this.newVignette.name" [ngModelOptions]="{standalone: true}"/>
      <textarea appHighlight [(textArray)] = "this.textArray" id= "text-input" placeholder="Text" (input)="textArray = this.newVignette.text"></textarea>
      <app-map (click) = "setLocation($event)" id = "mapid" ></app-map>

      <input class="form-control" type="text" placeholder="Characters" [(ngModel)]="this.newVignette.characters[0]" [ngModelOptions]="{standalone: true}"/>
      <input class="form-control" type="text" placeholder="Characters" [(ngModel)]="this.newVignette.characters[1]" [ngModelOptions]="{standalone: true}"/>

      <!-- <input class="form-control" type="text" placeholder="Location" (input)="this.features = this.newVignette.location" /> -->


      <button class="btn btn-default" (click)="insertNewVignette()"> Add Vignette! </button>
    </div>

    <div class="row col-sm-6">
      <div class = "parts " *ngFor="let part of textArray; let index = index" (click)="setEditPart(part, index)">
        {{index + 1}}
        {{part}}
        <button class="btn btn-default" (click)="deletePart(index)">Delete</button>
      </div>
      <app-part-edit appHighlight [(editPart)]= "this.editPart" [(index)] = "this.index" [(textArray)] = "this.textArray" ></app-part-edit>

    </div>




  </div>
</div>


<!-- <leaflet></leaflet> -->
