
<div class="form-group col-sm-2">
  <label for="insertvignette">Insert Vignette:</label>
  <input class="form-control" type="text" placeholder="Name" [(ngModel)]="this.newVignette.name" [ngModelOptions]="{standalone: true}"/>
  <input class="form-control" type="text" placeholder="Text" [(ngModel)]="this.newVignette.text" [ngModelOptions]="{standalone: true}"/>
  <input class="form-control" type="text" placeholder="Characters" [(ngModel)]="this.newVignette.characters" [ngModelOptions]="{standalone: true}"/>
  <input class="form-control" type="text" placeholder="Location" [(ngModel)]="this.newVignette.location" [ngModelOptions]="{standalone: true}"/>
  <button class="btn btn-default" (click)="insertNewVignette()"> Insert Vignette </button>
</div>



<vignettes-display></vignettes-display>
