/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#mapid, #map {
  height: 350px;
  vertical-align: top;
  /* display: inline-block; */
  /* width: 88÷%; */
  /* position: fixed; */
  /* margin-left: 0; */
  /* margin-right: 8vw; */

  /* overflow: scroll; */
}

/* ADD VIGNETTE********************************************* ADD VIGNETTE  */

h1 {
  color: white;
  font-size: 4vw;
}

.black {
  color: black;
  width: 100%;
}

.title {
  height: 5vw;
  font-size: 3vw;
}

.btn-add {
  width: 100%;
  height: 2.9vw;
  font-size: 1.8vw;
  margin-top: 3vw;
}

.forms {
  margin-left: 5vw;
  /* margin-top: 8vw; */
}

.add-map {
  margin-left: 5vw;
  margin-top: 8vw;
  position: fixed;
}

textarea {
  max-width: 100%;
  overflow: scroll;
}

#text-input {
  width: 100%;
  overflow: scroll;
}

/* PART */
.part-index {
  font-size: 8vw;
  max-height: 100%;
  margin-bottom: 5px;
}

.parts {
  height: 10vw;
  overflow: hidden;
  margin-top: 1.3vw;
  margin-bottom: 1.3vw;

  padding: 8px;
  color: #AACCFF;
  font-size: 1.3vw;
}

div.parts:hover {

}


.parts:nth-of-type(2n +1) {
  border-width: 2px;
  background-color: 	#4f5b66 ;
  color: #FFFFFF;
}

.parts:nth-of-type(2n + 2) {
  border-width: 2px;
  background-color: #65737e ;
  color: #FFFFFF;

}



/* NAV ********************************************* NAV */

.nav {
  height: 100vw;
}
#nav {
  height: 100vw;
}

.btn-menu {
  font-size: 2.5vw;
  width: 100%;
  height: 3vw;
  margin-top: 17px;
}

.btn-menu:nth-of-type(2n +1) {
  border-width: 2px;
  background-color: 	#4f5b66 ;
  color: #FFFFFF;
}

.btn-menu:nth-of-type(2n + 2) {
  border-width: 2px;
  background-color: #65737e ;
  color: #FFFFFF;
}

.btn-menu:hover {
  text-decoration: none;
  background-color: #a7adba;
}

/* READER ********************************************* READER  */


.txt {
  font-size: 1.5vw;
  height: 20vw;
  overflow: scroll;
}

.reader {
  margin-right: 8vw;
}


/* .title {
  position: absolute;
} */

path {
  fill: none;
  stroke: red;
}

.big {
  margin-top: 4vw;
}

.vignette {
  border: 2px solid black;
  margin: 2vw;
  max-height: 10vw;
  overflow: scroll;
  background-color: white;
}

.read-vignette {
  background-color: #c0c5ce;
  font-size: 3vw;
}


::-webkit-input-placeholder {
  vertical-align: top;
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}


/* .container {
  max-height: 100vw;
  overflow: scroll;
} */


/* TEXTAREA RESIZE ********************************************* TEXTAREA RESIZE  */

body {
  margin: 20px;
  font-family: 'Roboto Condensed', sans-serif;

  background-color: #343d46;

}



p {
  margin-bottom: 14px;
}



textarea {
  color: #444;
  padding: 5px;
}

.txtstuff {
  resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
  overflow: hidden;
}

.hiddendiv {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
  width: 500px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  overflow: hidden;
}
