/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#mapid, #map {
  height: 350px;
  vertical-align: top;
  /* display: inline-block; */
  /* width: 88÷%; */
  /* position: fixed; */
  margin-left: 0;
  /* margin-right: 8vw; */

  /* overflow: scroll; */
}
.black {
  color: black;
  margin-left: 3vw;
  width: 100%;
}

textarea {
  max-width: 100%;
  overflow: scroll;
}
.parts {
  height: 10vw;
  overflow: hidden;
  margin-left: 3vw;
}

.parts:nth-of-type(5n +1) {
  border-width: 2px;
  background-color: #202020 ;
  color: white;
}

.parts:nth-of-type(5n + 2) {
  border-width: 2px;
  background-color: #404040 ;
  color: white;

}

.parts:nth-of-type(5n + 3) {
  border-width: 2px;
  background-color: #686868 ;
  color: white;

}

.parts:nth-of-type(5n + 4) {
  border-width: 2px;
  background-color: #909090 ;
  color: white;

}

.parts:nth-of-type(5n + 5) {
  border-width: 2px;
  background-color: #B0B0B0 ;
  color: white;

}



.txt {
  font-size: 1.5vw;
  height: 20vw;
  overflow: scroll;
}

.nav {
  height: 100%;
}

.reader {
  margin-right: 8vw;
}

/* .title {
  position: absolute;
} */

path {
  fill: none;
  stroke: red;
}

#nav {
  height: 100vw;
}

.vignette {
  border: 2px solid black;
  margin: 2vw;
  max-height: 10vw;
  overflow: scroll;
  background-color: white;
}

#text-input {
  width: 100%
}

::-webkit-input-placeholder {
  vertical-align: top;
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}

body {
  background-color: lightgrey;
}

/* .container {
  max-height: 100vw;
  overflow: scroll;
} */

body {
  margin: 20px;
  font-family: Arial, sans-serif;
}

p {
  margin-bottom: 14px;
}

textarea {
  color: #444;
  padding: 5px;
}

.txtstuff {
  resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
  overflow: hidden;
}

.hiddendiv {
  position: absolute;
  left: -9999px;
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
  width: 500px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  overflow: hidden;
}
