<button type="button" name="button" (click) = "assembleCharacters()" (click) = "assembleStandaloneCharacters()">Read by Character</button>

<div class="" *ngFor="let char of filteredCharacters">
    <button type="button" name="button" (click) = "findByCharacter(char)" (click) = "findStandaloneByCharacter(char)" >{{char}}</button>
</div>

<div class="read-vignette" *ngFor="let vignette of filteredVignettes | orderBy: 'order'">
  {{vignette.name}}
  {{vignette.characters}}
  {{vignette.text}}
</div>
